body{
  width: 800px;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
      font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
}

table{
  width: 700px;
}

.box-left{
  width: 200px;
}

.box-center{
  width: 400px;
}

td{
 font-size: 13px;
 text-aline: left;
}


// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
